---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 3;
---
<p/>
<img src="../public/img/20250517_201647_m.jpg" alt="me" class="profile_pic" width="75" />
<p class="summary">
Throughout my career, I've developed, automated, and documented processes in various software development and
operations roles for diverse companies using English as their business language.
</p>
<p>With my assistance, these companies
successfully migrated to and between clouds, enhanced their compliance and security, and improved engineering
efficiency.</p><br/>
<hr />
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h3>Latest {{ latestPostsCount }} glimpses of Daniel's world</h3>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="blog.njk">the blog archive</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
